html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

main {
  padding-top: 70px;
}

#app {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a.member.nav-link.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 5px;
}

footer li {
  list-style-type: none;
}

.carousel-inner {
  aspect-ratio: 21/9;
}
@media (max-width:768px) {
  .carousel-inner {
  aspect-ratio: 4/3;
}
}

footer .footer-info li::before {
  content: "-";
  font-weight: bold;
}

.servise-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.map-box iframe {
  height: 450px;
}

.remark {
  font-size: 0.8rem;
  opacity: 0.5;
  margin: 5px 0;
}

@media (max-width:768px) {
  .map-box iframe {
    height: 600px;
  }
}

.small-table {
  font-size: 0.7rem;
}

.icon-box {
  width: 120px;
  height: 120px;
}

.btn-check[name="color-select"]:checked+.btn {
  border-width: 2px;
  border-color: #FFF;
  box-shadow: 0px 0px 3px black;
}

.btn-check:checked+.btn.add-like {
  background-color: rgb(255, 206, 206) !important;
  border-color: transparent;
  color: rgb(255, 75, 75) !important;
}

/* =============================================  */
.login-img {
  object-fit: cover;       /* 填滿容器，維持比例，超出會裁切 */
  object-position: center; /* 圖片置中對齊 */
  display: block;
}

/* cart ============================  */

.num-circle {
    width: 50px;
    height: 50px;
}

.cart-img-box {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.progress-w {
    height: 5px;
    width: calc((100% - 50px) - 10px);
}


.quantity-amount {
    width: 150px;
    height: 36px;
}

@media (max-width:576px) {
    .quantity-amount {
        width: 100%;
        height: 36px;
    }
}

.amount-box li , .send-info li {
    list-style-type: none;
}

.info-text-box {
    min-width: 180px;
}

.info-title {
    width: 80px;
}